<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <style>
    @media (max-width: 428px) {
      .logo-image {
          width: 80px !important;
      }
    }
    @media (max-width: 768px) {
      .logo-image {
          width: 100px !important;
      }
    }
  </style>
</head>


<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center">
        <table class="main" width="650" cellspacing="0" cellpadding="15" border="0">
          <tr>
            <td align="center">
              <table width="110" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table width="100%" cellspacing="0" cellpadding="10" border="0" style="border: 2px solid #DDDDDD;">
                <tr>
                  <td>
                    <table width="100%" cellspacing="0" cellpadding="10" border="0">
                      <tr>
                        <td>
                          <span
                            style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A; font-weight: 600;">Dear
                            {{ user }},</span>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                      </tr>
                      <tr>
                        <td>
                          <span style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A;">Greetings
                            from Nickelfox Technologies Pvt Ltd! </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A;">We hope this
                            email finds you in good health. We
                            have sent you this email to invite you to join the Hiring Portal
                            of Nickelfox Technologies Pvt Ltd as a sub admin .</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span
                            style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A; font-weight: 600;"> Your temporary password is :
                            {{ password }} </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A;">We
                            recommend that you keep your password secure and not share it
                            with anyone.</span>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <span
                            style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A; font-weight: 600;"> Please change your password immediately
                            after your initial login using the below link. </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="{{ url }}"
                            style="font-weight: 600; width: 250px; height: 50px; line-height: 50px; display: block; text-decoration: none; background: #FFCE70; border-radius: 4px; color: #0F0532; text-align: center;font-size: 14px; font-family: 'Inter', sans-serif;">
                            LOGIN TO NICKELFOX HIRING
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A;">
                            Please ignore this email if you do not wish to join the Hiring Portal as an sub admin. </span>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="12">
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td>
                                <span
                                  style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A; font-weight: 600;">Regards,</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#2A2A2A;">
                                  Nickelfox Technologies Pvt Ltd</span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table width="100%" border="0" cellspacing="0" cellpadding="2">
                <tr>
                  <td align="center">
                    <span style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#949494;"> &#169; 2020
                      Nickelfox Technologies Pvt Ltd. All Rights Reserved.</span>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <span style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#949494;">Address line 1, Address line 2, Country</span>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <span style="font-size: 16px; font-family: 'Inter', sans-serif;  color:#949494;"><a href="#"
                        style="color:#949494; text-decoration: none;">Privacy Policy</a> | <a href="#"
                        style="color:#949494; text-decoration: none;">Terms and Conditions</a> | <a href="#"
                        style="color:#949494; text-decoration: none;">Unsubscribe</a></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <table border="0" cellspacing="0" cellpadding="15">
                <tr>
                  <td>
                    <a href="#">
                    </a>
                  </td>
                  <td>
                    <a href="#">

                    </a>
                  </td>
                  <td>
                    <a href="#">

                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
