<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body style="margin: 0; padding: 0;">
    <table cellspacing="0" cellpadding="0" style="width: 100%; padding: 0px; margin: 0px; border: 0px;">
        <tr style="height: 119px; background-color: #041630;">
            <td></td>
            <td style="text-align: center; width: 472px;">
                <img width="111px" src="https://dev.nhp.foxlabs.in/assets/MailIcons/nickelfox_logo.png" alt="Nickelfox"/>
            </td>
            <td></td>
        </tr>
        <tr>
            <td style="height: 162px; background-color: #041630;"></td>
            <td rowspan="4" style=" width: 472px; box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.1); border: 1px solid #FAF9F7;">
                <table cellspacing="0" cellpadding="0" style="width: 472px;">
                    <tr>
                        <td style="
                            width: 100%;
                            background-color: #FAF9F7;
                            border-radius: 0 0 50% 50% / 70px;
                        ">
                            <table cellspacing="0" cellpadding="0" style="width: 472px;">
                                <tr style="height: 40px;"></tr>
                                <tr><td style="width: 45px;"></td>
                                    <td style="text-align: center; padding-bottom: 12px;">
                                        <h2 style="
                                            color: #041630;
                                            font-family: Mulish, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                            font-weight: 700;
                                            font-size: 24px;
                                            line-height: 30px;
                                            font-style: normal;
                                            margin: 0px;
                                        ">
                                            Dear {{ user }},
                                        </h2>
                                    </td>
                                <td style="width: 45px;"></td></tr>
                                <tr><td style="width: 45px;"></td>
                                    {% if flag %}
                                    <td style="text-align: center; padding-bottom: 32px;">
                                        <small style="
                                            color: #979797;
                                            font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 13px;
                                            line-height: 24px;
                                        ">
                                            Congratulations for successfully completing the L{{attempt_level}} Round of interview at Nickelfox.
                                        </small>
                                    </td>
                                    {% endif %}
                                <td style="width: 45px;"></td></tr>
                                <tr><td style="width: 45px;"></td>
                                    <td style="
                                        text-align: center;
                                        padding-bottom: 44px;
                                        font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 15px;
                                        line-height: 26px;
                                    ">
                                        You are now invited to take the online assignment for the position of
                                        <span style="font-weight: bold;">{{ job }}</span>.
                                        Please note your time for completing the assignment is
                                        <span style="font-weight: bold;">{{ expiry_time }} UTC</span>,
                                        post which the assignment will get auto submitted.
                                        The assessment link will valid for
                                        <span style="font-weight: bold;">48 hours</span> from the time you recieve an email.
                                    </td>
                                <td style="width: 45px;"></td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <table cellspacing="0" cellpadding="0" style="width: 472px;">
                               <tr>
                                   <td colspan="3" style="text-align: center; padding-top: 40px; padding-bottom: 24px;">
                                    <h3 style="
                                        color: #041630;
                                        font-family: Mulish, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        font-style: normal;
                                        font-weight: bold;
                                        font-size: 18px;
                                        line-height: 23px;
                                    ">Click the below to start your exam</h3>
                                   </td>
                               </tr>
                               <tr>
                                   <td></td>

                                        <td
                                        style="width: 125px;">
                                            <a href="{{ exam_link }}" style="text-decoration: none;">
                                                <small style="
                                                padding: 16px;
                                                text-align: center;
                                                background-color: #D9001D;
                                                color: #FFFFFF;
                                                border-radius: 3px;
                                                font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                                                font-style: normal;
                                                font-weight: bold;
                                                font-size: 12px;
                                                line-height: 15px;
                                                ">Attempt Exam</small></a>
                                        </td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td colspan="3" style="text-align: center; padding-top: 24px;">
                                        <small style="
                                            color: #979797;
                                            font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 13px;
                                            line-height: 24px;
                                        ">Use this link if the button is not working</small>
                                   </td>
                               </tr>
                               <tr>
                                   <td colspan="3" style="text-align: center; padding-bottom: 32px;">
                                        <a href="{{ exam_link }}" style="text-decoration: none; color: #D9001D;">
                                            <small style="
                                                font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 13px;
                                                line-height: 24px;
                                            ">{{ exam_link }}</small>
                                        </a>
                                    </td>
                               </tr>
                               <tr><td
                                    colspan="3"
                                    style="height: 1px;
                                    background-color: #F5F5F5;
                                    width: 348px;
                                    text-align: center;
                                    margin-bottom: 24px;">
                                </td></tr>
                                <tr>
                                    <td colspan="3" style="text-align: center;">
                                        <h3 style="
                                            color: #041630;
                                            font-family: Mulish, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 18px;
                                            line-height: 23px;
                                        ">All the best !</h3>
                                    </td>
                                </tr>
                           </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="height:162px; background-color: #041630;"></td>
        </tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td>
            <td style="width: 472px; ">
                <table cellspacing="0" cellpadding="0" style="width: 472px; margin-top: 24px; margin-bottom: 24px;">
                    <tr>
                        <td>
                            <small style="
                                color: #BBBBBB;
                                font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 13px;
                                line-height: 24px;
                            ">Call us at : +91-120-4112029</small>
                        </td>
                        <td style="width: 150px;">
                            <small style="
                                color: #BBBBBB;
                                font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 13px;
                                line-height: 24px;
                            ">Follow  us on :</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <small style="
                                color: #BBBBBB;
                                font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 13px;
                                line-height: 24px;
                            ">Email : hr@nickelfox.com </small>
                        </td>
                        <td style="width: 150px;">
                            <table cellspacing="0" cellpadding="0" style="width: 150px;">
                                <tr>
                                    <td>
                                        <a href="https://instagram.com/nickelfoxstudio?utm_medium=copy_link"><img src="https://dev.nhp.foxlabs.in/assets/MailIcons/instagram.png" height="12px" alt="Instagram"></a>
                                    </td>
                                    <td>
                                        <a href="https://youtube.com/channel/UCjxBBhGmspZvVsmSh06s2qQ"><img src="https://dev.nhp.foxlabs.in/assets/MailIcons/youtube.png" height="12px" alt="Youtube"></a>
                                    </td>
                                    <td>
                                        <a href="https://youtube.com/channel/UCjxBBhGmspZvVsmSh06s2qQ"><img src="https://dev.nhp.foxlabs.in/assets/MailIcons/linkedin.png" height="12px" alt="LinkedIn"></a>
                                    </td>
                                    <td>
                                        <a href="https://www.facebook.com/NickelfoxStudio/"><img src="https://dev.nhp.foxlabs.in/assets/MailIcons/facebook.png" height="12px" alt="Facebook"></a>
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/NickelfoxStudio"><img src="https://dev.nhp.foxlabs.in/assets/MailIcons/twitter.png" height="12px" alt="Twitter"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        <td></td></tr>
    </table>
</body>
</html>